body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}


.titles-result {
  color: crimson;
}

.imageSize {
  width: 20%;
}

.fbi-logo {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 20%;
}

.Wanted-title {
  font-family: Hoefler;
  font-size: 50px;
  margin-right: 50px;
  color: white;
}

#intro {
  background-image: url('/images/Indexbg.jpg');
  height: 100vh;
  background-size: cover;
}

.h1m {
  margin-bottom: 350px;
  letter-spacing: 6px;
}

.body-margin {
  margin: 500px;
}

.title-index {
  font-family: Hoefler;
  font-size: 50px;
  color: white;
}

.image-size {
  object-fit: cover;
  height: 200px;
  width: 370px;

  #intro {
    background-image: url('/images/Indexbg.jpg');
    height: 100vh;
    background-size: cover;
  }

  .h1m {
    margin-bottom: 350px;
    letter-spacing: 6px;
  }

  .body-margin {
    margin: 500px;
  }