<form class="container" action="/wanted/match/result" method="GET">
    <h1>Crimimatch</h1>

    <div class="form-row mt-3">
        <div class="form-group col-md-4 mt-3 mb-3">
            <label for="hair">Hair color</label>
            <select id="hair" name='hair' class="form-control">
                <option selected>Choose one</option>
                <option>black</option>
                <option>brown</option>
                <option>blond</option>
            </select>
        </div>
    </div>
    <div class="form-row mt-3">
        <div class="form-group col-md-4 mt-3 mb-3">
            <label for="eyes">Eye color</label>
            <select id="eyes" name='eyes' class="form-control">
                <option selected>Choose one</option>
                <option>brown</option>
            </select>
        </div>
    </div>
    <div class="form-row mt-3">
        <div class="form-group col-md-4 mt-3">
            <label for="sex">Sex</label>
            <select id="sex" name='sex' class="form-control">
                <option selected>Choose one</option>
                <option>female</option>
                <option>male</option>
            </select>
        </div>
    </div>

    <button type="submit" class="btn btn-dark mt-3">Find your match</button>
</form>